.yellow{
  background-color: yellow;
}

#nav{
  background-color: black;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

@media only screen and (min-width: 768px){
  .red{
    background-color: black;
  }
  .green{
    background-color: orange;
  }
}

@media only screen and (min-width: 375px) {
  .blue{
    background-color: red;
  }
}
